.container {
  width: 400px;
  height: 500px;
  background-color: grey;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "display display display display"
    "clearetc clearetc clearetc operands"
    "numbers numbers numbers operands"
    "numbers numbers numbers operands"
    "numbers numbers numbers operands"
    "numbers numbers numbers operands";
}

.display {
  grid-area: display;
  display: grid;
  background-color: blue;
  border-radius: 20px;
  margin: 5px;
}

.displaydata {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Courier New", Times, serif;
  font-size: 3em;
  color: white;
}

.numbers {
  grid-area: numbers;
  background-color: green;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.number {
  gap: 10px;
}
